.banner-big-sale .container {
  background-image: url("../../images/banner/banner-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
}

.banner-big-sale-content {
  color: var(--main-color-white);
  font-weight: bold;
  font-size: 1.4rem;
}

.banner-big-sale .btn {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 10px;
  border: none;
  white-space: nowrap;

  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.banner-big-sale .btn:nth-child(1){
  background-color: var(--main-color-black);
  color: var(--main-color-white);
  
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}

.banner-big-sale .btn:nth-child(3){
  background-color: var(--main-color-white);
  color: var(--main-color-black);
  
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

@media screen and (max-width: 768px) {
  .banner-big-sale-content {
    display: none;
  }
  .banner-big-sale .container {
    padding: 0;
  }
}

