/* BANNER PROMO */

.banner-promo-container {
  background-color: var(--main-color);
  color: var(--main-color-white);
}

.banner-promo {
  height: 50px;
  line-height: 50px;
  font-size: 1.3rem;
}

.banner-promo span {
  border: 1px solid var(--main-color-white);
  padding: 5px;
  cursor: pointer;
}

/* NAV TOP */

.nav-top {
  
}