/* BANNER PROMO */

.banner-promo-container {
  background-color: var(--main-color);
  color: var(--main-color-white);
}

.banner-promo {
  /* height: 50px; */
  line-height: 40px; 
  font-size: 1.3rem;
}

.banner-promo span {
  border: 1px solid var(--main-color-white);
  padding: 5px;
  cursor: pointer;
}

/* NAV TOP */

.nav-top-container {
  border-bottom: 1px solid #ccc;
}

.nav-top {
  color: var(--main-color-gray);
  font-weight: 600;
  white-space: nowrap;
}

.nav-top .nav-message {
  text-transform: uppercase;
}

.nav-top ul li a:hover {
  color: var(--main-color);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .nav-items {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-message {
    font-size: 0.7rem;  
  }
}

@media screen and (max-width: 576px) {
  .nav-message {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 427px) {
  .nav-message {
    display: none;
  }
}