nav {
  position: sticky;
  top: 0;
  background-color: var(--main-color-white);
}

.nav-container {
  text-transform: uppercase;
  font-weight: 600;
}

.nav-container ul li a {
  display: block;
  padding: 15px 0;
  border-top: 2px solid var(--main-color-white);
  border-bottom: 2px solid var(--main-color-white);
  height: 30px;
  line-height: 30px;
}

.nav-container ul li a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

.nav-container ul li a.active {
  border-top: 2px solid var(--main-color);
}




.nav-left {

}

.nav-right {

}