.slider-image {
  background-image: url("/assets/images/slider/slide-1.jpg");
  height: 500px;
  background-position-x: 70%;
}

.slider-content {
  top:10%;
  left: 10%;
  min-width: 25%;
  height: 200px;
  padding: 20px 0;
  white-space: nowrap;
}

.slider-content h4 {
  font-size: 1.18rem;
  font-weight: 500;
  letter-spacing: 0.08em;
  opacity: 0.7;
  margin: 0;
}

.slider-content h2 {
  font-size: 2.31rem;
  letter-spacing: 0.005em;
  white-space: nowrap;
  font-family: 'Segoe Script', 'Savoye LET', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0;
}

.slider-content h3 {
  font-size: 5.9em;
  margin-bottom: 10px;
}

.slider-content .slider-actions > span {
  font-weight: bold;
}

.slider-content .slider-actions .price {
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--main-color-white);
  padding: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

.slider-content .slider-actions .shop-now .btn {
  background-color: var(--main-color-black);
  color: white;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 1.2rem;
  
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
